# Excersice 1 
    name: <Tal Bardugo - 207276635 , Eden Aladjem - 315240481>

## import Data

In [88]:
# import libraries
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt
import nltk
nltk.download('punkt')
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#import data
data=pd.read_csv(r'C:\Users\asaf1\OneDrive - The Academic College of Tel-Aviv Jaffa - MTA\שנה ג\AI\spam_ham_dataset.csv')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\asaf1\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [89]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

## Data Cleaning

In [90]:
spam_data=data[data.loc[:,'label']=='spam']
ham_data=data[data.loc[:,'label']=='ham']

### Q2. toeknization

In [91]:
#tokenization of text column
data['tokens']=data['text'].apply(nltk.word_tokenize)

### Q3. EDA for token frequncy

In [92]:
#spam
vectorizer= CountVectorizer(lowercase=True,stop_words='english')
spam_bag=vectorizer.fit_transform(spam_data['text'])
# create dictionary which contain the word frequncy 
sum_words=spam_bag.sum(axis=0)
word_freq=[(word,sum_words[0,idx])for word,idx in vectorizer.vocabulary_.items()]
#create dataframe of the tenth highly frequncy words
freq_df_spam=pd.DataFrame(word_freq, columns=['word','frequency'])
freq_df_spam=freq_df_spam.sort_values(by='frequency',ascending=False).head(10)

In [93]:
#ham
vectorizer= CountVectorizer(lowercase=True,stop_words='english')
spam_bag=vectorizer.fit_transform(ham_data['text'])
# create dictionary which contain the word frequncy 
sum_words=spam_bag.sum(axis=0)
word_freq=[(word,sum_words[0,idx])for word,idx in vectorizer.vocabulary_.items()]
#create dataframe of the tenth highly frequncy words
freq_df_ham=pd.DataFrame(word_freq,columns=['word','frequency'])
freq_df_ham=freq_df_ham.sort_values(by='frequency',ascending=False).head(10)

In [94]:
freq_df_ham.style.set_caption('Frequency Table of the 10 most common Words in HAM Data')

In [95]:
freq_df_spam.style.set_caption('Frequency Table of the 10 most common Words in SPAM Data')

### Q.4 Tf-IDF method for feature selection

In [96]:
#define the tfidf algorithm
vectorizer=TfidfVectorizer(lowercase=True,stop_words='english')
tf_idf_data=vectorizer.fit_transform(data['text'])

### Q.5 +Q6 create Machine learning model to predict spam\ham

In [97]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [98]:
#define algorithm
X=tf_idf_data
y=data['label_num']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=1)
clf= DecisionTreeClassifier()

#traint the model
clf=clf.fit(X_train,y_train)
#test the model
y_pred=clf.predict(X_test)

#evaluation
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))
print('precision:',metrics.precision_score(y_test,y_pred))
print('recall:',metrics.recall_score(y_test,y_pred))
print('f1:',metrics.f1_score(y_test,y_pred))
#storage the metrics
result_tfidf_td=[metrics.accuracy_score(y_test,y_pred),metrics.precision_score(y_test,y_pred),
                metrics.recall_score(y_test,y_pred),metrics.f1_score(y_test,y_pred)]

Accuracy: 0.9452319587628866
precision: 0.8828451882845189
recall: 0.9356984478935698
f1: 0.9085037674919267

### Q7
in the next section i'll run: <br>
1. bag of words with Decision tree
2. tfidf with SVM(support vector machines
3. bag of words with SVM

#### Q7.1 bag of words with Decision tree

In [99]:
#define the bag of words algorithm
vectorizer=CountVectorizer(lowercase=True,stop_words='english')
bow_data=vectorizer.fit_transform(data['text'])

In [100]:
#define algorithm
X=bow_data
y=data['label_num']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=1)
clf= DecisionTreeClassifier()

#traint the model
clf=clf.fit(X_train,y_train)
#test the model
y_pred=clf.predict(X_test)

#evaluation
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))
print('precision:',metrics.precision_score(y_test,y_pred))
print('recall:',metrics.recall_score(y_test,y_pred))
print('f1:',metrics.f1_score(y_test,y_pred))
#storage the metrics
result_bow_td=[metrics.accuracy_score(y_test,y_pred),metrics.precision_score(y_test,y_pred),
                metrics.recall_score(y_test,y_pred),metrics.f1_score(y_test,y_pred)]

Accuracy: 0.9420103092783505
precision: 0.8915401301518439
recall: 0.9113082039911308
f1: 0.9013157894736842

### Q7.2 tfidf with SVM(support vector machines

In [101]:
from sklearn import svm

In [102]:
#define algorithm
X=tf_idf_data
y=data['label_num']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=1)
clf= svm.SVC()

#traint the model
clf=clf.fit(X_train,y_train)
#test the model
y_pred=clf.predict(X_test)

#evaluation
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))
print('precision:',metrics.precision_score(y_test,y_pred))
print('recall:',metrics.recall_score(y_test,y_pred))
print('f1:',metrics.f1_score(y_test,y_pred))
#storage the metrics
result_tfidf_svm=[metrics.accuracy_score(y_test,y_pred),metrics.precision_score(y_test,y_pred),
                metrics.recall_score(y_test,y_pred),metrics.f1_score(y_test,y_pred)]

Accuracy: 0.9903350515463918
precision: 0.9718614718614719
recall: 0.9955654101995566
f1: 0.9835706462212487

### Q7.3  bag of words with SVM

In [103]:
#define algorithm
X=bow_data
y=data['label_num']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=1)
clf= svm.SVC()

#traint the model
clf=clf.fit(X_train,y_train)
#test the model
y_pred=clf.predict(X_test)

#evaluation
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))
print('precision:',metrics.precision_score(y_test,y_pred))
print('recall:',metrics.recall_score(y_test,y_pred))
print('f1:',metrics.f1_score(y_test,y_pred))
#storage the metrics
result_bow_svm=[metrics.accuracy_score(y_test,y_pred),metrics.precision_score(y_test,y_pred),
                metrics.recall_score(y_test,y_pred),metrics.f1_score(y_test,y_pred)]

Accuracy: 0.9755154639175257
precision: 0.9384288747346072
recall: 0.9800443458980045
f1: 0.9587852494577006

### Q8

In [104]:
#creat emetrics table of the 4 combinations

In [105]:
metrics_data=pd.DataFrame(data=[result_tfidf_td,result_bow_td,result_bow_svm,result_tfidf_svm]
                         ,columns=['Accuracy','Precision','Recall','F1 Score'])
metrics_data.rename(index={0:'tfidf_td',1:'bow_td',2:'bow_svm',3:'tfidf_svm'})

           Accuracy  Precision    Recall  F1 Score
tfidf_td   0.945232   0.882845  0.935698  0.908504
bow_td     0.942010   0.891540  0.911308  0.901316
bow_svm    0.975515   0.938429  0.980044  0.958785
tfidf_svm  0.990335   0.971861  0.995565  0.983571

### Q9

In [106]:
#The TFIDF algorithm more correctly represents the corpus
#it also represents the total frequency of the word in the text in combination with its frequency in all documents,
#unlike BOW which only represents the frequency of the word in the text.
#The theoretical analysis concludes that SVMs acknowledge
#the particular properties of text: 1. high dimensional feature spaces, 2. few irrelevant features , and 3. sparse instance vectors.
#These advantages give an advantage to text analysis and prediction, in addition there are articles that present empirical experiments that SVM is an algorithm that gives high performance to NLP