Exercise 1 - Ai & NLP

Arbel Behar - 316534767,  Aviv Lohiet - 312467632

Import

In [1]:
# import
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt
import nltk
nltk.download('punkt')
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import svm

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\arbel\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Data Setup

In [2]:
#read data
data=pd.read_csv(r'C:\Users\arbel\OneDrive - The Academic College of Tel-Aviv Jaffa - MTA\spam_ham_dataset.csv')
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [3]:
# divide data to spam and ham
spamData=data[data.loc[:,'label']=='spam']
hamData=data[data.loc[:,'label']=='ham']

Q2 - Tokenization

In [4]:
#tokenize text column
data['token_text']=data['text'].apply(nltk.word_tokenize)

Q3 - EDA

In [5]:
#spam
vectorizer= CountVectorizer(lowercase=True,stop_words='english')
spamWordBag=vectorizer.fit_transform(spamData['text'])
# create dictionary for word frequncy
wordSum=spamWordBag.sum(axis=0)
wordFrequency=[(word,wordSum[0,idx])for word,idx in vectorizer.vocabulary_.items()]
#create dataframe of ten high frequncy words
spamDfFreq=pd.DataFrame(wordFrequency, columns=['word','frequency'])
spamDfFreq=spamDfFreq.sort_values(by='frequency',ascending=False).head(10)

spamDfFreq.style.set_caption('Frequency Table of the 10 most common Words in SPAM Data')

In [6]:
#ham
vectorizer= CountVectorizer(lowercase=True,stop_words='english')
spamWordBag=vectorizer.fit_transform(hamData['text'])
# create dictionary for word frequncy
wordSum=spamWordBag.sum(axis=0)
wordFrequency=[(word,wordSum[0,idx])for word,idx in vectorizer.vocabulary_.items()]
#create dataframe of ten high frequncy words
hamDfFreq=pd.DataFrame(wordFrequency,columns=['word','frequency'])
hamDfFreq=hamDfFreq.sort_values(by='frequency',ascending=False).head(10)

hamDfFreq.style.set_caption('Frequency Table for 10 most common Words in HAM Data')

Q4 - Tfidf

In [7]:
#define the tfidf algorithm
vectorizer=TfidfVectorizer(lowercase=True,stop_words='english')
tfidfData=vectorizer.fit_transform(data['text'])

Q5 - create Machine learning model

In [8]:
#define algorithm
X=tfidfData
y=data['label_num']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=1)
clf= DecisionTreeClassifier()

#model training
clf=clf.fit(X_train,y_train)
#model testing
y_pred=clf.predict(X_test)

Q6 - Evaluation

In [9]:
#evaluation
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))
print('Precision:',metrics.precision_score(y_test,y_pred))
print('Recall:',metrics.recall_score(y_test,y_pred))
print('F1:',metrics.f1_score(y_test,y_pred))
#storage the metrics
tfidfResultDT=[metrics.accuracy_score(y_test,y_pred),metrics.precision_score(y_test,y_pred),metrics.recall_score(y_test,y_pred),metrics.f1_score(y_test,y_pred)]

Accuracy: 0.9432989690721649
Precision: 0.8869936034115139
Recall: 0.9223946784922394
F1: 0.9043478260869565

Q7 - Different Algorithems

1. Bag of words with Desicion tree

In [10]:
#define the bag of words algorithm
vectorizer=CountVectorizer(lowercase=True,stop_words='english')
BoWData=vectorizer.fit_transform(data['text'])

#define algorithm
X=BoWData
y=data['label_num']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=1)
clf= DecisionTreeClassifier()

#model training
clf=clf.fit(X_train,y_train)
#test the model
y_pred=clf.predict(X_test)

#evaluation
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))
print('Precision:',metrics.precision_score(y_test,y_pred))
print('Recall:',metrics.recall_score(y_test,y_pred))
print('F1:',metrics.f1_score(y_test,y_pred))
#store metrics
BoWResultDT=[metrics.accuracy_score(y_test,y_pred),metrics.precision_score(y_test,y_pred),
                        metrics.recall_score(y_test,y_pred),metrics.f1_score(y_test,y_pred)]

Accuracy: 0.9407216494845361
Precision: 0.8876889848812095
Recall: 0.9113082039911308
F1: 0.899343544857768

2. Bag of Words with SVM

In [11]:
#define algorithm
X=BoWData
y=data['label_num']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=1)
clf= svm.SVC()

#model training
clf=clf.fit(X_train,y_train)
#test the model
y_pred=clf.predict(X_test)

#evaluation
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))
print('Precision:',metrics.precision_score(y_test,y_pred))
print('Recall:',metrics.recall_score(y_test,y_pred))
print('F1:',metrics.f1_score(y_test,y_pred))
#store metrics
BoWResultSvm=[metrics.accuracy_score(y_test,y_pred),metrics.precision_score(y_test,y_pred),
                metrics.recall_score(y_test,y_pred),metrics.f1_score(y_test,y_pred)]

Accuracy: 0.9755154639175257
Precision: 0.9384288747346072
Recall: 0.9800443458980045
F1: 0.9587852494577006

3. Tfidf with SVM

In [12]:
#define algorithm
X=tfidfData
y=data['label_num']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=1)
clf= svm.SVC()

#model training
clf=clf.fit(X_train,y_train)
#test the model
y_pred=clf.predict(X_test)

#evaluation
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))
print('Precision:',metrics.precision_score(y_test,y_pred))
print('Recall:',metrics.recall_score(y_test,y_pred))
print('F1:',metrics.f1_score(y_test,y_pred))
#store metrics
tfidfResultSvm=[metrics.accuracy_score(y_test,y_pred),metrics.precision_score(y_test,y_pred),
                        metrics.recall_score(y_test,y_pred),metrics.f1_score(y_test,y_pred)]

Accuracy: 0.9903350515463918
Precision: 0.9718614718614719
Recall: 0.9955654101995566
F1: 0.9835706462212487

Q8 - Comparison

In [13]:
#Comparison of the results
metrics_data=pd.DataFrame(data=[tfidfResultDT,BoWResultDT,BoWResultSvm,tfidfResultSvm]
                         ,columns=['Accuracy','Precision','Recall','F1 Score'])
metrics_data.rename(index={0:'Tfidf dt',1:'BoW dt',2:'BoW svm',3:'Tfidf svm'})

           Accuracy  Precision    Recall  F1 Score
Tfidf dt   0.943299   0.886994  0.922395  0.904348
BoW dt     0.940722   0.887689  0.911308  0.899344
BoW svm    0.975515   0.938429  0.980044  0.958785
Tfidf svm  0.990335   0.971861  0.995565  0.983571

Q9

Once we split the word data using tfidf we can get a more accurate represantation of the words and their variations.
Using the SVM on the tfidf we can see that we get the most accurate result.
The reason is that SVM can divide the data in a more accurate way when there aren't a clear categories for the words unlike the DT that suits categorized data more.